* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
h1 {
    background-color: #081b31;
    color: white;
    line-height: 5rem;
    height: 5rem;
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    cursor: pointer;
}
.choice {
    height: 154px;
    width: 154px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
    opacity: 0.8;
    border: 5px solid black;
}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
}
#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
    cursor: pointer;
}
#msg {
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}